/*----------------Google Fonts -------------------*/
@import url("https://fonts.googleapis.com/css2?family=Caveat&family=Cormorant+Infant:ital,wght@1,500&family=Gloria+Hallelujah&family=Graduate&family=Indie+Flower&family=Josefin+Sans:ital,wght@1,200&family=Jura:wght@500&display=swap");

/*CSS rules to specify families

font-family: 'Caveat', cursive;
font-family: 'Cormorant Infant', serif;
font-family: 'Gloria Hallelujah', cursive;
font-family: 'Graduate', cursive;
font-family: 'Indie Flower', cursive;
font-family: 'Josefin Sans', sans-serif;
font-family: 'Jura', sans-serif;*/

/*----------------Pantalla 1----------------------*/
#pantalla-1 {
  background-image: url(../assets/Fondo1.jpg);
  background-size: cover;
  background-attachment: fixed;
  display: grid;
  grid-template-columns: 3fr;
  grid-template-rows: 2fr 1fr 1fr 1fr 1fr;
  grid-template-areas:
    "header"
    "p"
    "email"
    "contraseña"
    "button";
  row-gap: 10px;
  padding: 0 auto;
  width: auto;
  height: 100vh;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}

header {
  margin-top: 35px;
  grid-area: header;
  font-family: "Jura", sans-serif;
  font-weight: 1000;
  text-shadow: 3px 3px 3px rgba(7, 46, 105, 0.89);
  text-align: center;
  margin-bottom: auto;
}

#slogan {
  color: rgba(214, 160, 23, 0.863);
  font-weight: bolder;
  font-size: 3rem;
}

header img {
  border-radius: 500px;
  height: 8rem;
  width: 8rem;
}

p {
  grid-area: p;
  text-align: center;
  font-family: "Graduate", cursive;
  color: rgba(47, 46, 46, 0.897);
  font-weight: bold;
  text-shadow: 1px 1px 1px rgb(100, 99, 99);
  font-size: 1.1rem;
  margin-top: 20px;
}
#email {
  display: block;
  align-items: center;
  grid-area: email;
  border: double;
  text-align: center;
  font-family: "Caveat", cursive;
  font-size: 1.5rem;
  font-weight: bolder;
  border-radius: 10px;
  border: 3px ridge rgba(78, 3, 3, 0.637);
  width: 33%;
}
#contraseña {
  display: block;
  align-items: center;
  text-align: center;
  grid-area: contraseña;
  border: double;
  margin-top: 0.05rem;
  font-family: "Caveat", cursive;
  font-size: 1.5rem;
  font-weight: bolder;
  border-radius: 10px;
  border: 3px ridge rgba(78, 3, 3, 0.637);
  width: 33%;
}
.botonazo {
  min-width: 120px;
  min-height: 40px;
  font-family: "Jura", sans-serif;
  font-size: 1rem;
  letter-spacing: 1.3px;
  font-weight: 700;
  color: #e4acac;
  background: #cfc42c;
  background: linear-gradient(
    90deg,
    rgba(66, 49, 2, 0.767) 25%,
    rgba(26, 20, 6, 0.589) 100%
  );
  border: groove;
  border-radius: 1000px;
  box-shadow: 12px 12px 24px rgba(53, 52, 0, 0.64);
  transition: all 0.4s ease-in-out 0s;
  cursor: pointer;
  outline: none;
  position: relative;
  padding: auto;
  margin-top: 15px;
}
.botonazo::before {
  content: "";
  border-radius: 1000px;
  min-width: 125px;
  min-height: 50px;
  border: 6px ridge #0f0f0157;
  box-shadow: 14px 14px 60px rgba(15, 3, 85, 0.64);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: all 0.3s ease-in-out 0s;
}

button:hover,
button:focus {
  color: #949499;
  transform: translateY(-3px);
}

.botonazo:hover::before,
.botonazo:focus::before {
  opacity: 10;
}

.botonazo::after {
  content: "";
  width: 30px;
  height: 30px;
  border-radius: 100%;
  border: 6px solid #240a79ce;
  position: absolute;
  z-index: -1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: ring 5.5s infinite;
}

button:hover::after,
button:focus::after {
  animation: none;
  display: none;
}

@keyframes ring {
  0% {
    width: 15px;
    height: 15px;
    opacity: 1;
  }
  100% {
    width: 150px;
    height: 150px;
    opacity: 0;
  }
}

/*--------------Pantalla 2------------------------*/
#pantalla-2 {
  background-image: url(../assets/Fondo2.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  display: grid;
  grid-template-columns: 3fr;
  grid-template-rows: 2fr 0.1fr;
  grid-template-areas: "sucursal" "footer";
  flex-wrap: wrap;
}
/*--------------Nav Bar-----------------------------*/
ul li {
  display: inline-block;
  cursor: pointer;
}

#slogan2 {
  color: rgba(214, 160, 23, 0.863);
  font-weight: bolder;
  font-size: 1rem;
  text-align: center;
  margin-right: 3rem;
  margin-left: 2rem;
}

.navbar-brand {
  margin-left: auto;
}

#searching {
  width: 12rem;
  height: 3.5rem;
  text-align: center;
  margin: 0 auto;
}

.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

#logoNav {
  height: 2.7rem;
  width: 2.7rem;
  align-items: auto;
}

/*----------------------Sedes----------------*/
.title {
  font-family: "Graduate", cursive;
  font-weight: 3.5rem;
  font-size: 1.7rem;
  text-align: center;
}
.sucursal {
  grid-area: sucursal;
  margin: 3vh 5px;
  display: inline-block;
  align-items: center;
}

#sedes {
  margin: 9vh auto;
}

#image {
  height: 6rem;
  width: 6rem;
  border-radius: 100px;
  cursor: pointer;
}

#place {
  border-radius: 15px;
  box-shadow: 4px 4px 18px 10px #04274786;
}

/*---------------creditos----------------*/
footer {
  color: aliceblue;
  background-color: black;
  grid-area: footer;
  text-align: center;
  list-style-type: none;
  justify-content: center;
  margin-bottom: -7rem;
}

.collaborator {
  font-family: "Jura", sans-serif;
  color: rgba(144, 144, 151, 0.753);
  text-shadow: rgb(138, 136, 136);
}

#social {
  margin-top: 0.5%;
}

#social a i {
  color: rgba(156, 156, 160, 0.767);
}

#social a i:hover {
  transform: scale(1.3);
  transition: transform 0.5s ease-out;
  color: #ff9204;
}

#formulario {
  width: auto;
}

.btn-outline-success {
  width: auto;
  border-radius: 10px;
  margin: 0 1vh;
}

/*--------------Pantalla 3------------------------*/
/* GRID */
#pantalla-3 {
  background-image: url(../assets/fondo3.png);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  width: auto;
  height: auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 3fr;
  grid-template-areas:
    "header header"
    "section1 section2"
    "section1 section2"
    "section1 section2";
}
header {
  grid-area: header;
}
section1 {
  grid-area: section1;
}

section2 {
  grid-area: section2;
}

/* Titulo */
.titulo-sede {
  text-align: center;
  margin-top: -8vh;
}

.titulo-sede h1 {
  font-family: "Graduate", cursive;
  font-size: 2rem;
  font-weight: bolder;
  color: #0b0329;
  text-shadow: 3px 2px 4px rgb(122, 92, 15);
}

.titulo-sede h2 {
  font-family: "Caveat", cursive;
  font-size: 1.7rem;
  font-weight: bold;
  margin-top: 3vh;
}

.generacion {
  display: flex;
  align-items: center;
  justify-content: center;
}

#generaciones button {
  background-color: rgb(233, 56, 56);
  border-color: teal;
  color: rgba(231, 240, 156, 0.918);
  margin: 0 auto;
}

.estudiantes {
  text-align: center;
  margin-top: 0.8rem;
  font-family: "Caveat", cursive;
}

.morros {
  text-align: center;
  overflow-y: auto;
  overflow-x: hidden;
  max-height: 47vh;
  max-width: 100vh;
  height: 50vh;
  width: 100vh;
  border: solid 3px rgba(8, 21, 94, 0.459);
  border-radius: 10px;
  margin: 2vh 3vh;
}
#correo {
  font-style: italic;
}

.porcentajes {
  margin-top: 10vh;
}

#cards {
  justify-content: center;
}

.card {
  background: rgba(251, 251, 251, 0.5);
  border: black double 10px;
  border-radius: 10px;
}
.card-body h6 {
  text-align: justify;
}

#back {
  margin: 0 auto;
}

/*--------------Modal------------------------*/
.modal-title {
  font-family: "Cormorant Infant", serif;
  font-size: 3rem;
  font-weight: bolder;
  color: #0f033de8;
  text-shadow: 2px 2px 4px #c3cf16cb;
  text-align: center;
}

.temas {
  text-align: center;
  justify-content: center;
}
.btn-close {
  border-radius: 15px;
  width: 1.5rem;
  height: 1.5rem;
}

table {
  background-color: #dfdbecad;
  border-radius: 14px;
  padding: 100%;
}

.table2 {
  background-color: transparent;
  border-radius: 10px;
}

.return {
  background-color: #a7a69fc9;
  border-radius: 10px;
  border: groove 3px rgba(70, 64, 64, 0.555);
}

.btn-close {
  color: #0b0329;
  font-size: 1.5rem;
  font-weight: bolder;
}

#dropdownMenuButton1 {
  background-color: rgba(41, 35, 35, 0.829);
  color: #f3f3f3;
  border-radius: 12px;
  margin: 1vh auto;
}

#dropdownMenu2 {
  background-color: rgba(46, 44, 44, 0.829);
  color: #f3f3f3;
  border-radius: 12px;
  margin: 10vh auto;
}

#dropdropdownMenu2 :hover {
  border: solid 3px rgb(0, 0, 0);
}

#sesenta {
  text-align: justify;
  overflow-y: auto;
  overflow-x: hidden;
  max-height: 25vh;
  max-width: 50vh;
  height: 70vh;
  width: 50vh;
  border: solid 3px rgba(8, 21, 94, 0.459);
  border-radius: 10px;
  margin: -15vh 3vh;
  font-size: 1.5rem;
  font-weight: bolder;
  font-family: "Cormorant Infant", serif;
}

#sesenta h2 {
  font-size: 1.3rem;
  font-weight: normal;
  font-family: "Jura", sans-serif;
}

#noventa {
  text-align: justify;
  overflow-y: auto;
  overflow-x: hidden;
  max-height: 25vh;
  max-width: 50vh;
  height: 70vh;
  width: 50vh;
  border: solid 3px rgba(8, 21, 94, 0.459);
  border-radius: 10px;
  margin: 17vh 3vh;
  font-size: 1.5rem;
  font-weight: bolder;
  font-family: "Cormorant Infant", serif;
}

#noventa h2 {
  font-size: 1.3rem;
  font-weight: normal;
  font-family: "Jura", sans-serif;
}
